/* Debug */
.debug .container {
  border: 1px solid red;
  background: pink;
}
.debug .container [class*="col-"] {
  border: 1px solid blue;
  height: 300px;
}

/* Inizio Framework */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

/* Colonne */
[class*="col-"] {
  float: left;
  height: 100%;
}

.col-1 {
  width: calc((100% / 12) * 1);
}
.col-2 {
  width: calc((100% / 12) * 2);
}
.col-3 {
  width: calc((100% / 12) * 3);
}
.col-4 {
  width: calc((100% / 12) * 4);
}
.col-5 {
  width: calc((100% / 12) * 5);
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: calc((100% / 12) * 7);
}
.col-8 {
  width: calc((100% / 12) * 8);
}
.col-9 {
  width: calc((100% / 12) * 9);
}
.col-10 {
  width: calc((100% / 12) * 10);
}
.col-11 {
  width: calc((100% / 12) * 11);
}
.col-12 {
  width: 100%;
}
/* mediaquery colonne */
@media screen and (max-width: 768px) {
  .col-xs-1 {
    width: calc((100% / 12) * 1);
  }
  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }
  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }
  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }
  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }
  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }
  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }
  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }
  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .col-md-1 {
    width: calc((100% / 12) * 1);
  }
  .col-md-2 {
    width: calc((100% / 12) * 2);
  }
  .col-md-3 {
    width: calc((100% / 12) * 3);
  }
  .col-md-4 {
    width: calc((100% / 12) * 4);
  }
  .col-md-5 {
    width: calc((100% / 12) * 5);
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: calc((100% / 12) * 7);
  }
  .col-md-8 {
    width: calc((100% / 12) * 8);
  }
  .col-md-9 {
    width: calc((100% / 12) * 9);
  }
  .col-md-10 {
    width: calc((100% / 12) * 10);
  }
  .col-md-11 {
    width: calc((100% / 12) * 11);
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Offset */
.col-offset-1 {
  margin-left: calc((100% / 12) * 1);
}
.col-offset-2 {
  margin-left: calc((100% / 12) * 2);
}
.col-offset-3 {
  margin-left: calc((100% / 12) * 3);
}
.col-offset-4 {
  margin-left: calc((100% / 12) * 4);
}
.col-offset-5 {
  margin-left: calc((100% / 12) * 5);
}
.col-offset-6 {
  margin-left: calc((100% / 12) * 6);
}
.col-offset-7 {
  margin-left: calc((100% / 12) * 7);
}
.col-offset-8 {
  margin-left: calc((100% / 12) * 8);
}
.col-offset-9 {
  margin-left: calc((100% / 12) * 9);
}
.col-offset-10 {
  margin-left: calc((100% / 12) * 10);
}
.col-offset-11 {
  margin-left: calc((100% / 12) * 11);
}

/* mediaquery offset */
@media screen and (max-width: 768px) {
  .col-offset-xs-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .col-offset-xs-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .col-offset-xs-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .col-offset-xs-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .col-offset-xs-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .col-offset-xs-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .col-offset-xs-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .col-offset-xs-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .col-offset-xs-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .col-offset-xs-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .col-offset-xs-11 {
    margin-left: calc((100% / 12) * 11);
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .col-offset-md-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .col-offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .col-offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .col-offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .col-offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .col-offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .col-offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .col-offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .col-offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .col-offset-md-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .col-offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }
}
